#body, #skillset, #workhistory, #education
{
 font-family: 'Arial', monospace;
}


img {
 
    display: block;
    margin: auto;
    width: 50%;
}

h1
{
  font-family: 'Arial', monospace;
  font-size: 64px;
  text-decoration: underline;
  text-align: center;
}

}

body 
{
  background-image: url(".../img/background.jpg");
  /*background-repeat: repeat;*/
  background-size: contain;
  
}

#skillset, #workhistory, #education
{
  border-bottom: 4px solid black;
}

#address

{
text-align: center;
}


